<section id="Footer">
  <footer>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-muted" routerLink="/impressum" routerLinkActive="active">
          {{translationKey + 'impressum' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" routerLink="/legal-notice" routerLinkActive="active">
          {{translationKey + 'legal-notice' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" routerLink="/about" routerLinkActive="active">
          {{translationKey + 'about' | translate}}
        </a>
      </li>
    </ul>
  </footer>
</section>
