#Subscription_modal {

  .modal-body {
    padding: 15px 0;
    width: 304px;
    margin: 0 auto;
  }

  .recaptcha-container {
    margin-top: 1em;

    .recaptcha {
      width: 304px;
      margin: 0 auto;
    }
  }

}
