<section id="Header">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{translationKey + 'home' | translate}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/publications" routerLinkActive="active">
        {{translationKey + 'publications' | translate}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/data-owners" routerLinkActive="active">
        {{translationKey + 'data-owners' | translate}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/how-it-works" routerLinkActive="active">
        {{translationKey + 'how-it-works' | translate}}
      </a>
    </li>
  </ul>
</section>
