$bar1: #007bff;
$bar2: #ffffff;

#Load_bar {
  position: relative;
  width: 100%;
  height: 3px;

  .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
  }

  &.loading .bar {
    &:nth-child(1) {
      background-color: $bar1;
      animation: loading 2s linear infinite;
    }
    &:nth-child(2) {
      background-color: $bar2;
      animation: loading 2s linear 1s infinite;
    }
  }

  @keyframes loading {
    from {
      left: 50%;
      width: 0;
      z-index: 100;
    }
    33.3333% {
      left: 0;
      width: 100%;
      z-index: 10;
    }
    to {
      left: 0;
      width: 100%;
    }
  }
}
