<section id="Dropdown"
         appDropdown
         [inputId]="inputId"
         [clearButtonId]="clearButtonId"
         (clickedOutside)="onClickOutside()"
         (clickedInInput)="onClickInInput()"
         (enter)="onEnterTyped()"
         (escape)="onEscapeTyped()"
         (tab)="onTabTyped()"
         (moveUp)="onMoveUp()"
         (moveDown)="onMoveDown()"
         class="dropdown">
  <ul class="dropdown-menu" [class.show]="isOpen">
    <li class="dropdown-item"
        *ngFor="let option of options | dropdownFilter: search; let i = index"
        [ngClass]="{'option': true, 'selected': i === selectedItem}"
        (mouseenter)="onMouseEnter(i)"
        (click)="onSelect(option)"
        [title]="option.value">
      {{option.value}}
    </li>
  </ul>
</section>
